th, td{
    text-align: center !important;
    vertical-align: middle !important;
}

.trPedido:hover{
    cursor: pointer;
}

.listItens{
  margin:15px 0px;
}

.listGroupForm{
  margin: 15px 0px;
}

.itemListForm{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemListForm>label{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vlTotalItem{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

.vlTotalItem>small{
  font-size: 22px;
}

.bttAddItem{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

.bttAddItem>button{
  width: 100%;
}

.modal-footer{
  justify-content: space-between !important;
}