input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/*input[type=number] {
  -moz-appearance: textfield;
}*/

th, td{
    text-align: center !important;
    vertical-align: middle !important;
}

.trPedido:hover{
    cursor: pointer;
}